* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: DM Sans, sans-serif;
    font-size: 0.9rem;
    background-color: #fff;
    height: 100vh;
    width: 100%;
  }
  
/* HEADER */

  header {
    padding: 1rem;
  }
  
  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-inline-size: 70rem;
    margin-inline: auto;
  }
  
  .nav-header_list {
    list-style: none;
    display: flex;
    gap: 2.5rem;
  }
  
  .navlistlink a {
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    color: black;
  }
  
  .navlistlink a:hover {
    color: rgb(159, 156, 156);
  }
  
  a {
    text-decoration: none;
  }
  
  .button {
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    padding: 1em 2em;
    background-color: black;
    color: white;
  }
  
  .button:hover {
    background-color: rgb(204, 202, 202);
    color: black;
  }

  /* MAIN */

  #hero {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero-row {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.text-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42.46vw;
    font-family: 'DM Sans';
    color: white;
    height: 490px;
    background-color: black;
}

.wrap-text-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 18.27868852%;
    align-items: center;
    padding-left: 18.27868852%;
}

.wrap-text-side h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.166666507720947px;
    max-width: 387px;
}

.wrap-text-side p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    color: white;
    text-align: left;
    opacity: 0.6;
    max-width: 387px;
    margin-top: 21px;
}

.first-text-side::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0px;
    width: 6px;
    height: 144px;
    background: linear-gradient(26.57deg, #FFC593 0.42%, #BC7198 43.46%, #5A77FF 83.33%);
}

.picture_side {
    width: 57.54vw;
    height: 490px;
    background-image: url(../assets/features/desktop/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

/* FEATURES */

#features-section{
    width: 100%;
    background-color: white;
    height: 896px;
}

.features-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    height: 576px;
    width: 100%;
    margin: 160px auto 160px auto;
    padding: 0;
}

.feature-card{
    display: flex;
    flex: 0 1 350px;
    height: 236px;
    color: black;
    line-height: 25px;
    letter-spacing: 0px;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 104px;
}

.feature-card img{
    width: 72px;
    height: 72px;
}

.feature-card2 img{
    height: 38px;
    margin: 13px 0px 13px 0px;
    
}

.feature-card:nth-child(4) img{
    height: 71px;
    width: 80px;
}

.feature-card:last-child img{
    height: 71px;
    width: 90px;
}

.feature-card p:nth-child(2){
    font-size: 18px;
    font-weight: 700;
    height: 25px;
}

.feature-card p:last-child{
    height: 75px;
    opacity: 0.6;
    font-size: 15px;
    font-weight: 400;
}

/* BETA SECTION */

.beta-section{
    width: 100%;
    height: 280px;
    background-image: url(./assets/shared/desktop/bg-beta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beta-section::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0px;
    width: 6px;
    height: 280px;
    background: linear-gradient(26.57deg, #FFC593 0.42%, #BC7198 43.46%, #5A77FF 83.33%);
}

.wrap-beta-text{
    max-width: 1110px;
    height: 144px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.wrap-beta-text h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4px;
    width: 100%;
    max-width: 400px;
    text-transform: uppercase;
    color: white;
}

  /* FOOTER */

  footer {
    background-color: black;
    padding-block: 4rem;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    margin-left: 7rem;
    margin-right: 7rem;
  }
  
  .side1 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 6.875rem;
  }
  
  .footernav {
    display: flex;
    flex-direction: column;
    grid-row: span 2;
    gap: 1.1875rem;
  }
  
  .footernav {
    list-style: none;
  }
  
  .footernavitem a {
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
  }
  
  .footernavitem:hover a {
    color: grey;
  }
  
  .socials {
    align-self: end;
    display: flex;
    gap: 0.8rem;
  }
  
  .socialicon {
    filter: brightness(0) invert(1);
    transition: filter 0.5s;
  }
  
  .socialicon:hover {
    filter: none;
  }
  
  .side2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }
  
  .side2 a {
    color: white;
    text-transform: uppercase;
  }
  
  .side2 p {
    color: white;
    opacity: 0.6;
  }
  
  .part2 {
    display: inline-flex;
    align-items: center;
    gap: 1.125rem;
  } 
  
  .arrow img{
    filter: invert();
    margin-left: 10px;
  }
  