* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: DM Sans, sans-serif;
    font-size: 0.9rem;
    background-color: #fff;
    height: 100vh;
    width: 100%;
  }
  

/* HEADER */

header {
    padding: 1rem;
  }
  
  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-inline-size: 70rem;
    margin-inline: auto;
  }
  
  .nav-header_list {
    list-style: none;
    display: flex;
    gap: 2.5rem;
  }
  
  .navlistlink a {
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    color: black;
  }
  
  .navlistlink a:hover {
    color: rgb(159, 156, 156);
  }
  
  a {
    text-decoration: none;
  }
  
  .button {
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    padding: 1em 2em;
    background-color: black;
    color: white;
  }
  
  .button:hover {
    background-color: rgb(204, 202, 202);
    color: black;
  }

   /* MAIN */

  #hero {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero-row {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.text-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42.46vw;
    font-family: 'DM Sans';
    color: white;
    height: 490px;
    background-color: black;
}

.wrap-text-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 18.27868852%;
    align-items: start;
    padding-left: 18.27868852%;
}

.wrap-text-side h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.166666507720947px;
    max-width: 387px;
    text-align: start;
}

.wrap-text-side p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    color: white;
    text-align: left;
    opacity: 0.6;
    max-width: 387px;
    margin-top: 21px;
}

.first-text-side::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0px;
    width: 6px;
    height: 144px;
    background: linear-gradient(26.57deg, #FFC593 0.42%, #BC7198 43.46%, #5A77FF 83.33%);
}

.picture_side {
    width: 57.54vw;
    height: 490px;
    background-image: url(./assets/pricing/desktop/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

  /* PRICE */
  
#price_compare{
    width: 100%;
    height: 1528px;
    position: relative;
    margin: 0px;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
  
.price{
    flex: 0 1 550px;
    width: 100%;
    background-color: white;
    margin: 120px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.wrap-price{
    width: 100%;
    max-width: 1110px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    margin: 0px auto;
}
 
.button-price{
    width: 100%;
    max-width: 293px;
    height: 32px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.button-price p{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    opacity: 0.5;
    height: 25px;
    width: 72px;
}

.button-price p.active{
    height: 25px;
    width: 72px;
    opacity: 1;
    font-weight: bold;
}

.toggle-btn{
    width: 92px;
    height: 42px;
    background: #DFDFDF;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.toggle-btn > .inner-circle{
    width: 35px;
    height: 35px;
    background: black;
    border-radius: 50%;
    border: 0.5px solid black;
    margin-top: 3px;
    margin-left: 3px;
    transition: all 0.3s ease-in-out;
}

.prices-cards{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 470px;
}

.price-card{
    flex: 0 1 350px;
    max-width: 350px;
    height: 407px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background: #F5F5F5;
    color: black;
}

.price-card.black-price-card{
    height: 470px;
    background: black;
    color: white;
}

.price-card.black-price-card p:first-child{
    margin-top: 88px;
    height: 25px;
}

.black-price-card:before{
    content: '';
    background: linear-gradient(26.57deg, #FFC593 0.42%, #BC7198 43.46%, #5A77FF 83.33%);
    width: 350px;
    height: 6px;
}
  
.price-card p:first-child{
    margin-top: 56px;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 18px;
    font-weight: 700;
}

.price-card p:nth-child(2){
    height: 75px;
    width: 270px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
    opacity: 0.6;
}

.price-card p:nth-child(3){
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4px;
    height: 48px;
}

.price-card p:nth-child(4){
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
}

.card-button-div{
    width: 100%;
    max-width: 270px;
    height: 40px;
}

.card-button{
    border: none;
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    transition: 0.3s ease;
    cursor: pointer;
}

.card-white-button{
    background-color: white;
    color: black;
}

.card-button:hover{
    background-color: #DFDFDF;
    transition: 0.3s ease;
    color: black;
}



  /* BETA SECTION */

.beta-section{
    width: 100%;
    height: 280px;
    background-image: url(./assets/shared/desktop/bg-beta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beta-section::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0px;
    width: 6px;
    height: 280px;
    background: linear-gradient(26.57deg, #FFC593 0.42%, #BC7198 43.46%, #5A77FF 83.33%);
}

.wrap-beta-text{
    max-width: 1110px;
    height: 144px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.wrap-beta-text h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4px;
    width: 100%;
    max-width: 400px;
    text-transform: uppercase;
    color: white;
}

.linkiconarea{
  color: white;
}

.iconarrow img{
  filter: invert();
  margin-left: 10px;
}

  
  /* FOOTER */

  footer {
    background-color: black;
    padding-block: 4rem;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    margin-left: 7rem;
    margin-right: 7rem;
  }
  
  .side1 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 6.875rem;
  }
  
  .footernav {
    display: flex;
    flex-direction: column;
    grid-row: span 2;
    gap: 1.1875rem;
  }
  
  .footernav {
    list-style: none;
  }
  
  .footernavitem a {
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
  }
  
  .footernavitem:hover a {
    color: grey;
  }
  
  .socials {
    align-self: end;
    display: flex;
    gap: 0.8rem;
  }
  
  .socialicon {
    filter: brightness(0) invert(1);
    transition: filter 0.5s;
  }
  
  .socialicon:hover {
    filter: none;
  }
  
  .side2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }
  
  .side2 a {
    color: white;
    text-transform: uppercase;
  }
  
  .side2 p {
    color: white;
    opacity: 0.6;
  }
  
  .part2 {
    display: inline-flex;
    align-items: center;
    gap: 1.125rem;
  } 
  
  .arrow img{
    filter: invert();
    margin-left: 10px;
  }
  